body,html{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #c6c6c6;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #C6C6C6 inset;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #c6c6c6;
  padding-bottom: 200px;
}

.navbar{
  background-color: #282828;
  margin-bottom: 0;
}

.navbar-brand{
  color: #ede8e8 !important;
}

.navbar-brand:hover{
  color: #ede8e8;
}

.navbar-brand:focus {
  color:  white;
}

.jumbotron{
  background-image: url('../img/jumboBG.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
  border-bottom: 1px #707070 solid;
}

.jumbotron-heading{
  font-weight: 600;
  color: #ce0a0a !important;
  text-shadow: 2px 2px 1px #000 !important;
}

.game-card:hover{
  background-color: #d3d3d3;
}

.row{
  display: flex;
}

.card {
  flex: 1;
  padding: .75rem;
  margin-bottom: 2rem;
  margin-left: 10%;
  margin-right: 10%;
  border: 0;
  font-size: 26px;
  font-weight: 800 !important;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

.card-text:hover {
  color: #444444;
}

.modal-header{
  background-color: #3f3f3f;
  color: #ede8e8;
}

.modal-body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  z-index: 0;
  background-color: #c6c6c6;
}

input[type="text"]{
  background-color: #c6c6c6;
}

input[type="email"]{
  background-color: #c6c6c6;
}

#contactMessage{
  background-color: #c6c6c6;
}

.modalImg{
  position: relative;
  padding-right: 10px;
}

#modalInfo{
  padding-top: 5px;
  padding-left: 10px;
  font-size: 16px;
  text-align: justify;
  border-left: 1px black solid;
}

.modal-footer{
  background-color: #3f3f3f;
}

.modalButton{
  background-color: #347734;
  color: #ede8e8;
  font-weight: bold;
  font-size: 18px;
  border: 0;
}

#contactContent{
  background-color: #3f3f3f;
}

#contactBody{
  display: flex !important;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #3f3f3f;
  color: #ede8e8;
}

.album p:hover {
  color: #232323;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #282828;
  padding:0;
}

#socialLinks{
  font-size: 20px !important;
  margin-bottom: 0;

}

#socialLinks li {
  padding: 5px 0 5px 0;
}

.socialLink a {
  text-decoration: none;
    color: grey;
}

.socialLink a:hover {
    color: white;
}

.socialLink i {
  padding-right: 10px;
  color: white;
}

.close{
  position: relative;
  top: 5px;
  right: 10px;
  z-index: 1;
  font-size: 32px;
  color: #ede8e8;
  opacity: 1.0;
}

textarea{
  resize: vertical;
}

@media (max-width:768px){
  .row{
    flex-direction: column !important;
  }
  footer{
    position: relative;
  }
  .modal-body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.5fr 0.5fr;
  }
  .modalImg{
    width: 70%;
    padding-right: 0;
    padding-bottom: 10px;
    margin: auto;
  }

  #modalInfo{
    padding-left: 0;
    padding-top: 10px;
    border: 0;
  }

  #socialLinks {
    text-align: center;
  }

  .album{
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-height: 450px){
  .row{
    flex-direction: row !important;
  }
  footer{
    position: fixed;
  }
  .modal-body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.5fr 0.5fr;
  }
  .modalImg{
    width: 70%;
    padding-right: 0;
    padding-bottom: 10px;
    margin: auto;
  }

  #modalInfo{
    padding-left: 0;
    padding-top: 10px;
    border: 0;
  }

  #socialLinks{
    width: 100%;
    display: inline-flex;
    text-align: left;
  }

  .card{
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media(max-height: 350px){
  .row{
    flex-direction: column !important;
  }
  footer{
    position: relative;
  }
  .modal-body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.5fr 0.5fr;
  }
  .modalImg{
    width: 70%;
    padding-right: 0;
    padding-bottom: 10px;
    margin: auto;
  }

  #modalInfo{
    padding-left: 0;
    padding-top: 10px;
    border: 0;
  }

  #socialLinks {
    text-align: center;
  }

  .album{
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width:400px) {
  .navbar-brand {
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
  }
}
