.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.navbar{
  background-color: #282828;
  margin-bottom: 0;
}
.navbar-brand{
  color: #ede8e8;
}

.jumbotron{
  background-image: url('../img/jumboBG.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
  border-bottom: 1px #282828 solid;
}

.jumbotron-heading{
  font-weight: 600;
  color: #ce0a0a !important;
  text-shadow: 2px 2px 1px #000 !important;
}

.album{
  background-color: #f2f2f2;
  padding-bottom: 1000px;
}

.row{
  display: flex;
}

.card {
  flex: 1;
  padding: .75rem;
  margin-bottom: 2rem;
  margin-left: 5%;
  margin-right: 5%;
  border: 0;
  font-size: 26px;
  font-weight: 800 !important;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

.modal-body{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modalImg{
}

.modalInfo{

}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

#socialLinks{
}
