body, html{
  height: 100%;
  width: 100%;
  background-color: #dbdbdb;
}

.game{
  position: relative;
}

.infoBoard{
  position: fixed;
  width: 20vw;
  right: 20px;
  top: 40px;
}

.table thead tr th {
   border-bottom: 2px solid black;
}

.buttons{
  position: relative;
  width: 100%;
}

.board{
  border: 20px solid #5e3823;
  margin: auto;
  position: relative;
  display: grid;
  width: 50vw;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 0;
  z-index: 1;
}

.boardSection{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.aboveBoardSection{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.piece{
  position:absolute;
}

#winModal{
  opacity: .75;
}

#scoreBoard{
  position: relative;
  width: 50%;
  margin: auto;
}

@media (max-width: 768px) {
    .infoBoard {
      position: relative;
      width: 50vw;
      margin: auto;
      top: 10px;
      right: auto;
    }
    .board{
      border-width: 10px;
    }
}
@media (max-width: 500px) {
  .board{
    width: 75vw;
    border-width: 5px;
  }
}
